.header {
    -fx-background-color: drakgrey;
    -fx-border-color: darkgrey;
}

.page {
    -fx-background-color: lightgrey;
    -fx-border-color: lightgrey;
}

.box {
    -fx-background-color: lightgrey;
    -fx-border-color: lightgrey;
}
